node_modules/
signal-cli
.env
sup-server
sup-proton-bridge

android/.gradle
android/local.properties
android/build/
android/*/build/
android/*.iml
android/captures/
android/.externalNativeBuild
android/.cxx
android/*.keystore
android/*.jks
android/.kotlin
